<!--
Generated template for the MyaccountPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header class="my-header">
<ion-navbar>
<div class="myaccount-header" (click)="editprofile()">
<ion-item class="bg-theme">
<ion-avatar item-start class="myaccount-avatar">{{services.getfirstChar(user_info.user_first_name)}}</ion-avatar>
<h2>{{user_info.user_first_name}} {{user_info.user_last_name}}</h2>
<p>{{user_info.user_email}}</p>
</ion-item>
<div class="myaccount-edit" >
<button ion-button class="button-plane">Edit</button>
</div>
</div>

</ion-navbar>
</ion-header>
<ion-content>
<div class="myaccount-box bg-white">
<div class="myaccount-box-header pb-15">
<h3>My Account</h3>
<p>Your Trip, Wallet, Rate Card, Referrals & Offers</p>
</div>
<div class="myaccount-list">
<ion-item (click)="openwallet()">
<ion-avatar item-start>
<img src="assets/icon/wallet.png">
</ion-avatar>
<h2>Wallet</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
<ion-item (click)="openorder()">
<ion-avatar item-start>
<img src="assets/icon/trip.png">
</ion-avatar>
<h2>Your Trip</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
<ion-item (click)="openpayment()">
<ion-avatar item-start>
<img src="assets/icon/list.png">
</ion-avatar>
<h2>Payment</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
<ion-item (click)="openreferral()">
<ion-avatar item-start>
<img src="assets/icon/share.png">
</ion-avatar>
<h2>Referral & Earns</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
<!--
<ion-item (click)="openoffers()">
<ion-avatar item-start>
<img src="assets/icon/offer.png">
</ion-avatar>
<h2>Offers</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>-->
<ion-item (click)="openhelpsupport()">
<ion-avatar item-start>
<img src="assets/icon/support.png">
</ion-avatar>
<h2>Help & Support</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
</div>
</div>

<div class="pl-15 pr-15 bg-white">
<div class="divider"></div>
<div class="myaccount-list mt-5">
<ion-item (click)="logoutUser()">
<h2>LOGOUT</h2>
 <ion-icon name="ios-log-out"></ion-icon>
</ion-item>
</div>
</div>
</ion-content>
