<!--
  Generated template for the LoginMobilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
<div class="error_message" *ngIf="login_error!=''">{{login_error}}</div>
<div class="panel pt-50 pl-25 pr-25 pb-10 bg-theme">
<ion-row>
<ion-col col><img src="assets/imgs/logo.jpg" class="img150"></ion-col>
<ion-col col (click)="backtosplash()"> <ion-icon name="close" class="pull-right f18 text-white mt-10"></ion-icon></ion-col>
</ion-row>
</div>
<div class="panel p25">
<h3 class="f18 line24 mb-5">Login/Signup on Indian Shipper</h3>
<p class="f13 mt-0 text-muthed mb-5 line22">Please provide your Mobile Number to<br>Login/Sign Up on Indian Shipper</p>
<div class="mobile-form mt-20 mb-20">
<ion-input type="number" placeholder="Enter Mobile Number" [(ngModel)]="mobile_number"></ion-input>
<div class="country-code"><img src="assets/imgs/flag-400.png">+91</div>
</div>
<button ion-button full class="button-fill" (click)="openlogin()">Continue</button>
<p class="f13 text-muthed">By clicking continue, you agree with our <a href="http://indianshippers.com/terms">Terms & Conditions</a></p>
</div>
</ion-content>
