<!--
Generated template for the SetDropLocationPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>Set Your Drop Location</ion-title>
</ion-navbar>
<ul class="mevents">
<li class="green-dot"><span><ion-input placeholder="Enter Pickup Location" [(ngModel)]="autocomplete_pickup.input" (click)="setType('pickup')" (keyup)="updateSearchResultsPickup()"></ion-input></span></li>
<li class="red-dot"><span class="drop-loc" ><ion-input placeholder="Enter Drop location" #myInput  [(ngModel)]="autocomplete.input" (keyup)="updateSearchResults()" (click)="setType('drop')"></ion-input></span></li>
</ul>
</ion-header>
<ion-content>
<div class="location-list pt-10">
<ion-item (click)="openchoosevehicle(bcategorys)" *ngFor="let bcategorys of autocompleteItems">
<ion-avatar item-start>
<img src="assets/icon/pin.png">
</ion-avatar>
<h2 class="f14 fw330 mb-3">{{bcategorys.structured_formatting.main_text}}</h2>
<p class="f12 text-muthed fw330">{{bcategorys.description}}</p>
</ion-item>
</div>
</ion-content>
