<!--
Generated template for the RateCardPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>Rate Card</ion-title>
</ion-navbar>
</ion-header>

<ion-content class="bg-gray">
<div class="booking-option p25">
<div class="booking-option-box text-center">
<h2 class="mt-0 fw400 mb-5 f14">Economy</h2>
<p class="mt-0 fw300 f11 mb-10">Share ride, door to door</p>
<ion-row>
<ion-col col>
<div class="bo-box text-center">
<div class="bo-box-img">
<img src="assets/icon/light-active.png">
<div class="bon-box">
<div class="bo-box-name active">Light</div>
</div>
</div>
<div class="bo-box-price mt-5">
<p class="mb-0 mt-0">₹382.00</p>
<p class="f11 text-muthed mt-0">EST</p>
</div>
</div>
</ion-col>
<ion-col col>
<div class="bo-box text-center">
<div class="bo-box-img">
<img src="assets/icon/medium.png">
<div class="bon-box">
<div class="bo-box-name">Medium</div>
</div>
</div>
<div class="bo-box-price mt-5">
<p class="mb-0 mt-0">₹382.00</p>
<p class="f11 text-muthed mt-0">EST</p>
</div>
</div>
</ion-col>
<ion-col col>
<div class="bo-box text-center">
<div class="bo-box-img">
<img src="assets/icon/heavy.png">
<div class="bon-box">
<div class="bo-box-name">Heavy</div>
</div>
</div>
<div class="bo-box-price mt-10">
<p class="mb-0 mt-0">₹382.00</p>
<p class="f11 text-muthed mt-0">EST</p>
</div>
</div>
</ion-col>
</ion-row>
</div>
<button ion-button full class="button-fill"  (click)="openregistration()">CONFIRM LIGHT</button>
</div>
</ion-content>
<ion-footer class="trackfooter">
<div class="track-box">
<div class="track-box-top">
<div class="track-box-top-media">
<img src="assets/imgs/placeholder.jpg">
<div class="track-box-top-md">
<h3>Atul Gem (RJ14 YC 5539)</h3>
<p>Max Load (500kg)</p>
</div>
</div>
<div class="track-box-top-driver text-center">
<div class="track-box-top-driver-img">
<img src="assets/imgs/placeholder.jpg">
<div class="tbt-rat"><ion-icon name="star" class="mr-3"></ion-icon>3.5</div>
</div>
<div class="tbt-name">Rakesh Kumar</div>
</div>
</div>
<div class="track-box-bottom">
<div class="track-box-bottom-icon text-center">
<img src="assets/icon/call.png">
<span>Call Driver</span>
</div>
<div class="track-box-bottom-icon text-center">
<img src="assets/icon/share.png">
<span>Share Details</span>
</div>
<div class="track-box-bottom-icon text-center">
<img src="assets/icon/support-service.png">
<span>SOS</span>
</div>
<div class="track-box-bottom-icon text-center">
<img src="assets/icon/error.png">
<span>Cancel</span>
</div>
</div>
</div>
</ion-footer>