<!--
Generated template for the ConfirmBookingPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-content class="bg-gray">
<div class="map-nav">
<ion-navbar>
<ion-title></ion-title>
</ion-navbar>
</div>
<div id="mapss"></div>

</ion-content>
<ion-footer>
<div class="cb-box">
<div class="price-est border-bottom">
<ion-item>
<ion-avatar item-start>
<img src="{{services.CATEGORY_IMAGE_PATH}}{{category.category_icon}}">
</ion-avatar>
<h2 class="f14">{{category.category_name}}</h2>
<p class="f12">EST (Max Load {{category.category_max_load}}kg)</p>
</ion-item>
</div>
<div class="pickup-contact  border-bottom p15">
Do you want helper?<span class="pull-right text-blue"><ion-checkbox></ion-checkbox></span>
</div>
<div class="pickup-contact  border-bottom p15" (click)="selectcontact()">
Pickup contact <span class="pull-right text-blue">{{user_info.user_mobile_number}} . {{user_info.user_first_name}} {{user_info.user_last_name}}</span>
</div>
<div class="pickup-contact  border-bottom p15" *ngIf="goods_type.gcategory_id!=undefined">
Goods type <span class="pull-right text-blue">{{goods_type.gcategory_name}}</span>
</div>
<div class="pickup-contact  border-bottom p15" (click)="openpayment()">
Payment Method <span class="pull-right text-blue">{{choose_method}}</span>
</div>
<div class="panel p15 text-center text-green-dark" (click)="opencoupon()"><img src="assets/icon/discount.png" class="mr-5 img20 middle"><span>Apply Coupon</span></div>
<div class="panel p15">
<button ion-button full class="button-fill" *ngIf="goods_type.gcategory_id==undefined" (click)="opengoods()">GOODS TYPE?</button>
<button ion-button full class="button-fill" *ngIf="goods_type.gcategory_id!=undefined" (click)="confirmbooking()">Confirm Booking</button>
</div>
</div>
</ion-footer>
