<!--
  Generated template for the ContactlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>contactlist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="sc-list">
<ul>
<li (click)="selectcategory(cat)" *ngFor="let cat of allcontact">{{cat.name.formatted}} - {{cat.phoneNumbers[0].value}}</li>
</ul>
</div>
</ion-content>
