page-home {
#map {
		height: 100%;
		display:block !important;
		
    position: initial !important;
	}
.pik-loc .pik-loc-en {
    background: #fff;
    padding: 15px;
	    position: relative;
    z-index: 9999999999;
    width: 100%;
}
.tracker-block
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
	z-index:99999999999999;
	}
}
