<ion-content class="bg-gray">
<div class="map-nav">
<ion-navbar>
<button ion-button menuToggle>
<ion-icon name="menu"></ion-icon>
</button> 
</ion-navbar>
</div>
<div class="pik-loc" (click)="openchoosedrop()">
<div class="pik-loc-en">Where to?</div>
</div>
<div id="map">
</div>
 <ion-fab bottom right *ngIf="current_booking.booking_id==undefined"><button color="light" ion-fab (click)="currentpostison()"><ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon></button></ion-fab>
 <div class="tracker-block" *ngIf="current_booking.booking_id!=undefined"></div>
</ion-content>
<ion-footer class="trackfooter" *ngIf="current_booking.booking_id!=undefined">
<div class="track-box">
<div class="track-box-top">
<div class="track-box-top-media">
<img src="{{services.CATEGORY_IMAGE_PATH}}{{current_booking.category_icon}}">
<div class="track-box-top-md">
<h3>{{current_booking.vehicle_name}} ({{current_booking.driver_vh_no}})</h3>
<p>Max Load ({{current_booking.category_max_load}}kg)</p>
</div>
</div>
<div class="track-box-top-driver text-center">
<div class="track-box-top-driver-img">
<img src="assets/imgs/placeholder.jpg" *ngIf="current_booking.driver_image==''">
<img src="{{services.DRIVER_IMAGE_PATH}}{{current_booking.driver_image}}" *ngIf="current_booking.driver_image!=''">
<div class="tbt-rat" *ngIf="current_booking.booking_driver_rating<=0"><ion-icon name="star" class="mr-3"></ion-icon>-</div>
<div class="tbt-rat" *ngIf="current_booking.booking_driver_rating>0"><ion-icon name="star" class="mr-3"></ion-icon>{{current_booking.booking_driver_rating}}</div>
</div>
<div class="tbt-name">{{current_booking.driver_first_name}} {{current_booking.driver_last_name}}</div>
</div>
</div>
<div class="track-box-bottom">
<ion-row>
<ion-col col>
<div class="track-box-bottom-icon text-center" (click)="opentrackscreen()">
 <img src="assets/icon/pin.png">
<span>Track Driver</span>
 </div>
</ion-col>
<ion-col col>
 <div class="track-box-bottom-icon text-center">
<a href="tel:{{current_booking.driver_mobile}}" style="color:#000;text-decoration:none">
<img src="assets/icon/call.png">
<span>Call Driver</span>
</a>
</div>
</ion-col>
<ion-col col>
<div class="track-box-bottom-icon text-center" (click)="sharedetail()">
<img src="assets/icon/share.png">
<span>Share Details</span>
</div>
</ion-col>
<ion-col col>
<div class="track-box-bottom-icon text-center">
<a href="tel:112" style="color:#000;text-decoration:none">
<img src="assets/icon/support-service.png">
<span>SOS</span>
</a>
</div>
</ion-col>
<ion-col col *ngIf="current_booking.booking_status==2">
<div class="track-box-bottom-icon text-center" (click)="cancelbooking()" >
<img src="assets/icon/error.png">
<span>Cancel</span>
</div>
</ion-col>
</ion-row>
</div>
</div>
</ion-footer>
