<!--
Generated template for the LoginWithOtpPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>Verify OTP</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
<div class="error_message" *ngIf="login_error!=''">{{login_error}}</div>
<div class="panel p25 text-center">
<p class="f14 mb-20">We've send SMS with a confirmation code<br> to: {{user_mobile}}</p>
<ion-spinner name="bubbles"></ion-spinner>
<p class="f13 mb-20 mt-20">Please enter activation code manually</p>
<div class="otp-text">
<ion-input type="number" placeholder="Enter OTP" [(ngModel)]="user_otp"></ion-input>
</div>
<button ion-button full class="button-fill mt-30"  (click)="openregistration()">DONE</button>
<p class="f13 mb-20 mt-20" (click)="resendotp()">Resend OTP</p>
<div class="otp-instr">We have send a verification code to your<br> mobile number</div>
</div>
</ion-content>
