<!--
  Generated template for the GoodstypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 <ion-navbar>
<ion-buttons start (click)="closeoffer()" class="close-cion">
<button ion-button icon-only class="close">
<ion-icon name="close"></ion-icon>
</button>
</ion-buttons>
<ion-title>Goods Type</ion-title>
</ion-navbar>
</ion-header>

 

<ion-content>
<div class="sc-list">
<ul>
<li (click)="selectcategory(cat)" *ngFor="let cat of category_list">{{cat.gcategory_name}}</li>
</ul>
</div>
</ion-content>
