<!--
  Generated template for the OffersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 <ion-navbar>
<ion-buttons start (click)="closeoffer()" class="close-cion">
<button ion-button icon-only class="close">
<ion-icon name="close"></ion-icon>
</button>
</ion-buttons>
<ion-title>Promocode / Offers</ion-title>
</ion-navbar>
</ion-header>

<ion-content class="bg-gray">
<div class="error_message" *ngIf="promocode_message!=''">{{promocode_message}}</div>
<div class="panel-box bg-white p15" *ngIf="fromcart">
<div class="offer-input">
 <ion-input type="text" [(ngModel)]="promocode" placeholder="Enter promocode here"></ion-input>
<div class="offer-input-button" (click)="applybyname()">Apply</div>
 </div>
</div>
<div class="offer-title">Available Offers</div>
<div class="offer-list" *ngFor="let offer of offerce">
<div class="offer-list-apply" *ngIf="fromcart" (click)="applybyid(offer)">Apply</div>
<div class="offer-list-code">{{offer.coupon_code}}</div>
<div class="offer-list-title">{{offer.coupon_title}}</div>
<div class="offer-list-des">{{offer.coupons_condition}}</div>
</div>
 
</ion-content>
