<!--
Generated template for the PaymentPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-buttons start (click)="closeoffer()" class="close-cion" *ngIf="from!=''">
<button ion-button icon-only class="close">
<ion-icon name="close"></ion-icon>
</button>
</ion-buttons>
<ion-title>Payment Methods</ion-title>
</ion-navbar>
</ion-header>

<ion-content class="bg-gray">
<div class="payment-title">Wallet</div>
<div class="payment-list">
<ion-item class="payment-list-box" [class.active]="choosepaymentmethod=='paytm'" (click)="savebycheck('paytm', '')">
<ion-avatar item-start>
<img src="assets/icon/paytm.png" class="payment-list-icon">
</ion-avatar>
<ion-label>
<div class="payment-list-content">
<h3>PayTM</h3>
<ion-icon name="ios-arrow-forward" class="payment-list-arrow"></ion-icon>
</div>
</ion-label>
</ion-item>
<ion-item class="payment-list-box" [class.active]="choosepaymentmethod=='razorpay'" (click)="savebycheck('razorpay', '')">
<ion-avatar item-start>
<img src="assets/icon/credit-card-fill.png" class="payment-list-icon">
</ion-avatar>
<ion-label>
<div class="payment-list-content">
<h3>Credit/ Debit Cards/ NetBanking / UPI</h3>
<ion-icon name="ios-arrow-forward" class="payment-list-arrow"></ion-icon>
</div>
</ion-label>
</ion-item>
</div>

<div class="payment-title">Pay at Driver</div>
<div class="payment-list">
<ion-item class="payment-list-box" [class.active]="choosepaymentmethod=='cash'"  (click)="savebycheck('cash', '')">
<ion-avatar item-start>
<img src="assets/icon/cash.png" class="payment-list-icon">
</ion-avatar>
<ion-label>
<div class="payment-list-content">
<h3>Cash</h3>
<p>Please keep exact change handly to help us serve you better</p>
</div>
</ion-label>
</ion-item>
</div>
</ion-content>


