<ion-menu [content]="content" type="overlay">
<ion-content>
<div class="menu-header">
<ion-item class="bg-theme" (click)="openmyaccount()">
<ion-avatar item-start class="myaccount-avatar">{{services.getfirstChar(user_info.user_first_name)}}</ion-avatar>
<h2 class="text-white f14">{{user_info.user_first_name}} {{user_info.user_last_name}}</h2>
<p class="text-gray f12">{{user_info.user_email}}</p>
</ion-item>
</div>
<div class="menu-list">
<ion-list>
<ion-item (click)="openmytrip()">
<ion-avatar item-start>
<img src="assets/icon/trip.png" class="menu-icon">
</ion-avatar>
<h4>Your Trip</h4>
</ion-item>
<ion-item (click)="openwallet()">
<ion-avatar item-start>
<img src="assets/icon/wallet.png" class="menu-icon">
</ion-avatar>
<h4>Wallet</h4>
</ion-item>
<ion-item (click)="openpayment()">
<ion-avatar item-start>
<img src="assets/icon/credit-card.png" class="menu-icon">
</ion-avatar>
<h4>Payment</h4>
</ion-item>
<ion-item (click)="openratecard()">
<ion-avatar item-start>
<img src="assets/icon/list.png" class="menu-icon">
</ion-avatar>
<h4>Rate Card</h4>
</ion-item>
</ion-list>

<hr>
<ion-list>
<!--
<ion-item (click)="feedback()">
<ion-avatar item-start>
<img src="assets/icon/mail.png" class="menu-icon">
</ion-avatar>
<h4>Feedback</h4>
</ion-item>-->
<ion-item (click)="rateus()">
<ion-avatar item-start >
<img src="assets/icon/rate.png" class="menu-icon">
</ion-avatar>
<h4>Rate us on the Play Store</h4>
</ion-item>
<ion-item (click)="openrefer()">
<ion-avatar item-start>
<img src="assets/icon/share.png" class="menu-icon">
</ion-avatar>
<h4>Share & Earn</h4>
</ion-item>
<ion-item (click)="aboutus()">
<ion-avatar item-start>
<img src="assets/icon/about.png" class="menu-icon">
</ion-avatar>
<h4>About the app</h4>
</ion-item>
<ion-item (click)="opensupport()">
<ion-avatar item-start>
<img src="assets/icon/support.png" class="menu-icon">
</ion-avatar>
<h4>Help & Support</h4>
</ion-item>
</ion-list>
</div>
</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>