// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//////////////////////////////////////////////////////////
.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
background-image:none;
}
.my-header{
background-image:none !important;
}
.toolbar-background-md {
border-color: #29166f;
background: #29166f;
}
.toolbar-title-md {
padding: 0 0px;
font-size: 1.8rem;
font-weight: 400;
color: #fff;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
color: #fff;
background-color: transparent;
}
//////////////////////////////////////////////////////////
.bg-theme{
background:#29166f;
}
.bg-gray{
background:#f5f5f5;
}
.p15{
padding:15px;
}
.p25{
padding:25px;
}
.pl-15{
padding-left:15px;
}
.pl-25{
padding-left:25px;
}
.pl-50{
padding-left:50px;
}
.pl-70{
padding-left:70px;
}
.pl-75{
padding-left:75px;
}
.pr-15{
padding-right:15px;
}
.pr-25{
padding-right:25px;
}
.pb-0{
padding-bottom:0px !important;
}
.pb-10{
padding-bottom:10px;
}
.pb-15{
padding-bottom:15px;
}
.pt-10{
padding-top:10px;
}
.pt-50{
padding-top:50px;
}
.mr-3{
margin-right:3px;
}
.mr-5{
margin-right:5px;
}
.mt-0{
margin-top:0px;
}
.mt-5{
margin-top:5px;
}
.mt-10{
margin-top:10px;
}
.mt-20{
margin-top:20px;
}
.mt-30{
margin-top:30px;
}
.mb-0{
margin-bottom:0px;
}
.mb-3{
margin-bottom:5px !important;
}
.mb-5{
margin-bottom:5px !important;
}
.mb-10{
margin-bottom:10px !important;
}
.mb-15{
margin-bottom:15px;
}
.mb-20{
margin-bottom:20px;
}
.mb-25{
margin-bottom:25px;
}
.f11{
font-size:1.1rem !important;
}
.f12{
font-size:1.2rem !important;
}
.f13{
font-size:1.3rem !important;
}
.f14{
font-size:1.4rem !important;
}
.f15{
font-size:1.5rem !important;
}
.f16{
font-size:1.6rem;
}
.f18{
font-size:1.8rem;
}
.fw300{
font-weight:300 !important;
}
.fw400{
font-weight:400 !important;
}
.text-center{
text-align:center;
}
.pull-right{
float:right;
}
.line22{
line-height:22px;
}
.line24{
line-height:24px;
}
.text-white{
color:#fff !important;
}
.text-muthed{
color:#666;
}
.text-gray{
color:#ccc !important;
}
.text-green{
color:#388e3c !important;
}
.text-green-dark{
color:#82c815 !important;
}
.text-blue{
color:#4a8bfc !important;
}
.img20{
width:20px;
}
.img24{
width:24px;
}
.img50{
width:50px;
}
.img70{
width:70px;
}
.img100{
width:100px;
}
.img150{
width:150px;
}
.button-fill{
background:#29166f;
height:45px;
border-radius:4px;
text-transform:uppercase;
}
.button-fill-gray{
background:#ccc;
height:45px;
border-radius:4px;
text-transform:uppercase;
}
.radius0{
border-radius:0px !important;
}
.button-plane{
box-shadow: none;
background: transparent;
padding: 0;
color:#fff;
}
.divider{
width:100%;
background:#f5f5f5;
height:7px;
}
.border-bottom{
border-bottom:1px solid #eee;
}
.middle{
vertical-align: middle;
}
//////////////////////////////////////////////////////////
.top-splash{
background: url(../assets/imgs/512.png) no-repeat;
background-position-x: 0%;
background-position-y: 0%;
height: 75%;
background-position: 100% bottom;
}
.top-splash h2{
font-size: 2.5rem;
margin-top:20px;
line-height: 36px;
font-weight: 400;
}
.bottom-splash{
position:relative;
}
.bottom-splash h3{
font-size: 1.6rem;
margin-top: 0px;
line-height: 24px;
font-weight: 300;
}
.bottom-splash .bottom-mobile{
border-bottom:1px solid #eee;
padding:10px 0px;
color:#666;
font-weight:300;
}
.bottom-splash .bottom-mobile img{
width: 24px;
float: left;
margin-top: 3px;
margin-right: 10px;
}
.mobile-form{
position:relative;
}
.mobile-form ion-input{
border-bottom:1px solid #ddd;
}
.mobile-form .text-input-md {
margin: 13px 8px 13px 70px;
}
.country-code{
position: absolute;
bottom: 14px;
left:0px;
}
.country-code img{
width: 24px;
float: left;
margin-top: 3px;
margin-right: 10px;
}
.forgot{
color: #4D8CF4;
position: absolute;
right: 0;
bottom: 13px;
}
.otp-text{
width:100px;
margin:0 auto;
}
.otp-text ion-input{
border-bottom: 1px solid #eee;
}
.otp-text .text-input-md {
margin: 10px 0px;
text-align:center !important;
}
.otp-instr{
background:#f5f5f5;
border-radius:4px;
padding:10px 15px;
font-size:1.4rem;
line-height:24px;
}
//////////////////////////////////////////////////////////
.panel-form{
width:100%;
position:relative;
}
.panel-form-box{
width:100%;
position:relative;
}
.panel-form ion-input{
border-bottom:1px solid #ddd;
}
.panel-form .text-input-md{
margin:13px 0px;
}
//////////////////////////////////////////////////////////

.menu-header{
position:relative;
}
.menu-header .item-md.item-block .item-inner{
border-bottom:0px;
}
.menu-list{
position:relative;
}
.menu-list{
position:relative;
}
.menu-list .list-md .item-block .item-inner {
border-bottom: 0px solid #dedede;
}
.menu-list .item-md ion-avatar{
min-width:24px;
min-height:24px;
}
.menu-icon{
width:24px !important;
height:24px !important;
border-radius:0px !important;
}
.menu-list h4{
font-weight:400;
font-size:1.3rem;
}
.menu-list .label-md{
margin:0px;
}
.error_message{
color: #fff;
text-align: center;
width: 100%;
background: red;
font-size: 1.2rem;
padding:7px;
bottom: 0;
z-index: 9999;
position: absolute;
}
.success_message{
color: #fff;
text-align: center;
width: 100%;
background: green;
font-size: 1.2rem;
padding: 10px;
bottom: 0;
z-index: 9999;
position: absolute;
}
////////////////////////////////////////////////////////
.loader{
width:50px;
}
.loading-md .loading-wrapper {
border-radius: 4px;
max-width: 280px;
max-height: 100%;
color: rgba(0, 0, 0, 0.5);
background: #fff;
-webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
padding: 10px 10px 5px;
}
////////////////////////////////////////////////////////
.trip-box{
position:relative;
}
.trip-box ion-item{
position:relative;
}
.trip-box .item-md.item-block .item-inner {
padding-right: 8px;
border-bottom: 0px solid #dedede;
}
.trip-price{
position: absolute;
right: 15px;
top: 15px;
font-size: 1.4rem;
font-weight: 500;
color: #388e3c;
}
.trip-point .label-md{
margin:0px 8px 13px 0px;
}
.trip-canc{
position: absolute;
top: 25px;
right: 10px;
}
.events{
margin:0;
padding:0;
}
.events li { 
display: flex; 
position:relative;
font-size: 1.3rem;
}
.events li.green-dot::after { 
content: "";
position: absolute;
z-index: 2;
left: -5px;
top: 5px;
transform: translateX(50%);
border-radius: 50%;
background: #388e3c;
border: 1px #388e3c solid;
width: .8em;
height: .8em;
}
.events li.red-dot::after { 
content: "";
position: absolute;
z-index: 2;
left: -5px;
top: 5px;
transform: translateX(50%);
border-radius: 50%;
background: #b50404;
border: 1px #b50404 solid;
width: .8em;
height: .8em;
}
.events span {
padding:0px 20px 10px;
position: relative;
}
.events span::before {
content: "";
position: absolute;
z-index: 1;
left: 5px;
top:7px;
height: 100%;
border-left: 1px #666 dotted;
}
.events, 
.events *::before, 
.events *::after { box-sizing: border-box; }
///////////////////////////////////////////////////////////
.wallet-box-details{
position:relative;
width:100%;
}
.wallet-box-details ion-navbar{
position:absolute;
}
.wallet-box-details .toolbar-background-md {
border-color: #b2b2b2;
background:transparent;
}
.wallet-box{
background:#fff;
padding:16px;
}
.wallet-box h2{
font-size:1.4rem;
margin-top:0px;
}
.wallet-box-img img{
width:100%;
}
.wallet-box .price{
font-size: 2.5rem;
color: #333;
font-weight: 500;
margin-left: 10px;
margin-top: 3px;
}
.wallet-hist-header{
background:#f5f5f5;
padding:10px 16px;
color:#333;
}
.wallet-hist-box{
border-bottom:1px solid #f5f5f5;
padding:10px 16px;
position: relative;
}
.wallet-hist-box h4{
margin-top:0px;
font-size:1.3rem;
margin-bottom:5px;
}
.wallet-hist-box p{
margin:0;
font-size:1rem;
color:#666;
}
.hprice{
position:absolute;
right:15px;
top:20px;
font-weight:bold;
}
//////////////////////////////////////////////////////////
.refer{
width:100%;
padding:50px;
}
.refer-header{
width:100%;
text-align:center;
}
.refer-header h3{
margin-top:0;
text-transform:uppercase;
}
.refer-header p{
line-height:20px;
margin-top:0px;
}
.refer-img{
width:90%;
margin-bottom:20px;
}
.refer-img img{
width:100%;
}
.referal-code-block-content{
width:100%;
text-align:center;
margin-bottom:20px;
}
.referal-code-block-content p{
line-height:20px;
margin-top:0px;
color:#333;
}
.referal-code-block-content span{
color:#666;
font-size:0.9rem;
}
.referal-code-block{
border:1px dotted #ccc;
text-align:center;
padding:15px;
font-size:1.6rem;
}
.icon-list{
position:relative;
}
.icon-list .item-md ion-avatar {
min-width: 24px;
min-height: 24px;
}
.list-icon{
border-radius: 0px !important;
width: 24px !important;
height: 24px !important;
}
.icon-list ion-icon{
position:absolute;
right:15px;
top:15px;
}
.order-tab{
width:100%;
display: inline-block;
font-weight:400;
background:#29166f;
font-size:14px;
color:#ccc;
}
.order-tab .order-tab-box:nth-child(odd){
width:50%;
text-align:center;
padding:15px;
float:left;
position:relative;
}
.order-tab .order-tab-box:nth-child(even){
width:50%;
text-align:center;
padding:15px;
float:left;
position:relative;
}
.order-tab .active{
color:#fff;
border-bottom: 2px solid #fff;
}
//////////////////////////////////////////////////////////
.myaccount-header{
position:relative;
}
.myaccount-header .item-md{
padding-left:0px;
}
.myaccount-edit{
position:absolute;
right:15px;
top:23px;
}
.myaccount-header .item-md.item-block .item-inner {
padding-right: 8px;
border-bottom: 0px solid #dedede;
}
.myaccount-avatar{
background: #fff;
border-radius: 50%;
padding: 16px 17px;
margin: 12px 10px 12px 0 !important;
color:#29166f;
font-weight:bold;
}
.myaccount-header h2{
color:#fff;
font-weight:500;
font-size:1.5rem;
}
.myaccount-header p{
color:#ccc;
font-weight:400;
font-size:1.2rem;
}
.myaccount-box{
width:100%;
position:relative;
padding:15px;
}
.myaccount-box-header{
width:100%;
position:relative;
border-bottom:1px dotted #ccc;
}
.myaccount-box-header h3{
margin:0px;
font-size:1.4rem;
}
.myaccount-box-header p{
margin:3px 0px 0px;
font-size:1.1rem;
font-weight:300;
}
.myaccount-list{
position:relative;
}
.myaccount-list h2{
font-weight:400;
font-size:1.4rem;
display:inline-block;
}
.myaccount-list .item-md{
padding-left:0px;
}
.myaccount-list .item-md.item-block .item-inner {
padding-right:0px;
border-bottom: 0px solid #dedede;
}
.myaccount-list .item-md ion-avatar img {
border-radius:0px;
overflow: hidden;
width:24px;
height:24px;
}
.myaccount-list .item-md ion-avatar {
min-width: 24px;
min-height: 24px;
}
.myaccount-list ion-icon{
float: right;
margin-top: 4px;
}
//////////////////////////////////////////////////////////
.booking-option{
position:relative;
background:#fff;
}
.booking-option-box{
position:relative;
}
.bo-box{
position:relative;
}
.bo-box-img{
position:relative;
}
.bo-box-img img{
width:64px;
}
.bo-box-name{
box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
background: #fff;
border-radius: 50px;
font-size: 1.1rem;
padding: 2px;
width: 60px;
margin: 0 auto;
color: #666;
}
.bo-box-name.active{
background:#000 !important;
color:#fff;
}
.bon-box{
position:absolute;
bottom:0;
width:100%;
}
//////////////////////////////////////////////////////////
.map-nav{
z-index:9999;
position:absolute;
top:0;
}
.map-nav .toolbar-background-md {
    border-color: #29166f;
    background: none;
}
.map-nav .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #333;
}
.mevents{
margin:0;
padding:15px 5px 5px 25px;
}
.mevents li { 
display: flex; 
position:relative;
font-size: 1.3rem;
}
.mevents li.green-dot::after { 
content: "";
position: absolute;
z-index: 2;
left: -3px;
top: 15px;
transform: translateX(50%);
border-radius: 50%;
background: #999;
border: 1px #999 solid;
width: .6em;
height: .6em;
}
.mevents li.red-dot::after { 
content: "";
position: absolute;
z-index: 2;
left: -2px;
top: 15px;
transform: translateX(50%);
border-radius: 0px;
background: #388e3c;
border: 1px #388e3c solid;
width: .6em;
height: .6em;
}
.mevents span {
padding:0px 20px 10px;
position: relative;
width:100%;
}
.mevents span::before {
content: "";
position: absolute;
z-index: 1;
left: 5px;
top:20px;
height: 100%;
border-left: 1px #ccc dotted;
}
.mevents span.drop-loc::before{
display:none;
}
.mevents, 
.mevents *::before, 
.mevents *::after { box-sizing: border-box; }
.mevents ion-input{
border:1px solid #f5f5f5;
background:#f5f5f5;
}
.mevents .text-input-md{
margin:8px 10px;
}
//////////////////////////////////////////////////////////
.location-list{
position:relative;
}
.location-list .item-md ion-avatar {
    min-width: 30px;
    min-height: 30px;
}
.location-list .item-md ion-avatar img {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
	background:#f5f5f5;
	padding:10px;
}
.location-list  .label-md {
    margin: 10px 0px ;
}
//////////////////////////////////////////////////////////
.pik-loc{
padding:70px 23px;
}
.pik-loc .pik-loc-en{
background:#fff;
padding:15px;
}
//////////////////////////////////////////////////////////
.cb-box{
background:#fff;
position:relative;
}
.cb-box .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #dedede;
}
//////////////////////////////////////////////////////////
.trackfooter{
background:#fff;
}
.track-box-top{
border-bottom:1px solid #eee;
position:relative;
}
.track-box-top-media{
display:flex;
height:75px;
}
.track-box-top-media img{
width: 80px;
height: 80px;
border-radius: 50%;
position: absolute;
top: -7px;
left: 10px;
border: 2px solid #fff;
}
.track-box-top-md{
padding: 15px 0px 10px 100px;
}
.track-box-top-md h3{
font-size:1.4rem;
font-weight:500;
text-transform:uppercase;
margin:0px 0px 3px 0px;
}
.track-box-top-md p{
margin:0px;
color:#666;
font-size:1.3rem;
}
.track-box-top-driver{
position:absolute;
top:7px;
right:10px;
}
.track-box-top-driver-img {
position:relative;
}
.track-box-top-driver-img img{
width: 40px;
height: 40px;
border-radius: 50%;
}
.track-box-top-driver .tbt-rat{
background: #388e3c;
color: #fff;
font-size: 1rem;
text-align: center;
position: absolute;
bottom: 0px;
width: 35px;
border-radius: 2px;
padding: 1px 0px 0px;
left:18px;
}
.track-box-top-driver .tbt-name{
font-size:1.1rem;
margin-top:3px;
}


.track-box-bottom{
display:relative;
}
.track-box-bottom-icon{
padding:10px 10px 5px;
width:100%;
}
.track-box-bottom-icon img{
width:24px;
}
.track-box-bottom-icon span{
display:block;
font-size:1.1rem;
margin-top:3px;
}
////////////////////////////////////////////////////////
.offer-title{
background:#eb1c22;
color:#fff;
font-size:1.4rem;
padding:10px 16px;
}
.offer-input{
width:100%;
position:relative;
}
.offer-input .text-input-md {
margin: 0px 8px;
padding: 10px;
width: calc(100% - 8px - 8px);
border: 1px solid #ccc;
height: 45px;
}
.offer-input-button{
color: #eb1c22;
position: absolute;
right: 25px;
top: 14px;
font-size: 1.4rem;
font-weight: 500;
text-transform: uppercase;
}
.offer-list{
width:100%;
padding:16px 16px;
background:#fff;
margin-bottom:1px;
position:relative;
}
.offer-list-apply{
color: #eb1c22;
position: absolute;
right: 25px;
top: 12px;
font-size: 1.4rem;
font-weight: 500;
text-transform: uppercase;
}
.offer-list-code{
border: 1px dotted #ccc;
background: #f5f5f5;
padding: 10px 20px;
color: #333;
font-weight: 500;
text-transform: uppercase;
display: inline-block;
margin-bottom: 15px;
}
.offer-list-des{
font-size: 1.1rem;
color: #666;
margin-top:5px;
}
.offer-list-title{
font-size: 1.4rem;
color: #000;
font-weight:500;
margin-bottom:5px;
}
//////////////////////////////////////////////////////////
.sc-list{
width:100%;
position:relative;
}
.sc-list ul{
margin:0;
padding:0;
list-style:none;
}
.sc-list ul li{
width:100%;
position:relative;
padding:10px 15px;
border-bottom:1px solid #eee;
font-size:1.3rem;
font-weight:400;
}
//////////////////////////////////////////////////////////
.pluse-screen{
background:rgba(0,0,0,0.7);
position:absolute;
width:100%;
height:100%;
}
.fd-footerbox{
padding:0px 25px;
position:absolute;
bottom:0;
width:100%;
}
.pulse{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:20px;
height:20px;
background:#26b99a;
border-radius:50%;
}
.pulse:before,
.pulse:after{
content:"";
display:block;
position:absolute;
border:1px solid #26b99a;
border:50%;
left:-20px;
right:-20px;
top:-20px;
bottom:-20px;
border-radius:50%;
animation: animate 1.5s linear infinite;
opacity:0;
background-visibility:hidden;
}
.pulse:after{
animation-delay:.5s;
}
@keyframes animate{
0%{
transform:scale(0.5);
opacity:0;
}
50%{
opacity:1;
}
100%{
transform:scale(1.8);
opacity:0;
}
}
.payment-title{
padding:10px 16px;
background:#f5f5f5;
}
.payment-list{
background:#fff;
}
.payment-list-arrow{
position: absolute;
top: 14px;
right: 16px;
font-size: 24px;
}
.payment-list .item-md.item-block .item-inner{
border-bottom:0px;
}
.payment-list-box{
position:relative;
border-bottom: 1px solid #eee;
}
.payment-list-icon{
border-radius:0px !important;
}
.payment-list-content{
position:relative;
}
.payment-list-content h3{
font-size: 1.4rem;
line-height: 24px;
}
.payment-list-arrow{
position: absolute;
right: 7px;
top:2px;
}
//////////////////////////////////////////////////////////
