<!--
  Generated template for the ReferEarnPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Referral & Earns</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div class="refer">
<div class="refer-header">
<h3>Invite your friends</h3>
<p>Refer your friends to Indian Shipper <br>with your unique referral code.</p>
</div>
<div class="refer-img">
<img src="assets/imgs/refer-earn.jpg">
</div>
<div class="referal-code-block-content">
<p></p>
</div>
<div class="referal-code-block">
{{result_data.user_share_code}}
</div>
</div>
</ion-content>
<ion-footer class="p15 bg-white border-top">
<button ion-button full class="button-fill" (click)="shareApp()">Invite & Earn</button>
</ion-footer>
