<!--
  Generated template for the LoginWithPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the LoginMobilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
<div class="error_message" *ngIf="login_error!=''">{{login_error}}</div>
<div class="panel pt-50 pl-25 pr-25 pb-10 bg-theme">
<ion-row>
<ion-col col><img src="assets/imgs/logo.jpg" class="img150"></ion-col>
<ion-col col (click)="backtosplash()"> <ion-icon name="close" class="pull-right f18 text-white mt-10"></ion-icon></ion-col>
</ion-row>
</div>
<div class="panel p25">
<div class="panel-form">
<div class="panel-form-box mb-15">
<ion-input type="text" placeholder="Enter New Password" [(ngModel)]="user_password"></ion-input>
</div>
<div class="panel-form-box mb-25">
<ion-input type="text" placeholder="Enter Confirm Password" [(ngModel)]="user_conf_password"></ion-input>
</div>
</div>
<button ion-button full class="button-fill" (click)="forgot()">UPDATE</button>
</div>
</ion-content>

