<!--
Generated template for the MytripPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>My Trip</ion-title>
</ion-navbar>
</ion-header>

<ion-content class="bg-gray">
<div class="order-tab">
<span class="order-tab-box" [class.active]="activetav=='Ongoing'" (click)="settab('Ongoing')">Ongoing</span>
<span class="order-tab-box" [class.active]="activetav=='Past'"  (click)="settab('Past')"> Past</span>
</div>
<div *ngIf="activetav=='Ongoing'">
<div class="trip-box mb-10" *ngFor="let book of ongoing" (click)="opendetail(book)">
<ion-item>
<ion-avatar item-start>
<img src="assets/icon/truck.png" class="radius0">
</ion-avatar>
<h2 class="f15 mb-5"><strong>{{getdataformat(book.booking_created_datetime)}}</strong></h2>
<h3 class="f13">{{book.vehicle_name}}. CRN {{book.booking_id}}</h3>
</ion-item>
<ion-item class="pl-75 trip-point pb-10">
<ion-avatar item-end *ngIf="book.driver_image!=''">
<img src="{{services.DRIVER_IMAGE_PATH}}{{book.driver_image}}">
</ion-avatar>
<ul class="events">
<li class="green-dot"><span>{{book.booking_from_address}}</span></li>
<li class="red-dot"><span class="pb-0">{{book.booking_to_address}}</span></li>
</ul>
</ion-item>
<div class="trip-canc" *ngIf="book.booking_status==3"><img src="assets/icon/cancelled.png" class="img70"></div>
</div>

</div>

<div *ngIf="activetav=='Past'">

<div class="trip-box mb-10" *ngFor="let book of history_data" (click)="opendetail(book)">
<ion-item>
<ion-avatar item-start>
<img src="assets/icon/truck.png" class="radius0">
</ion-avatar>
<h2 class="f15 mb-5"><strong>{{getdataformat(book.booking_created_datetime)}}</strong></h2>
<h3 class="f13">{{book.vehicle_name}}. CRN {{book.booking_id}}</h3>
</ion-item>
<ion-item class="pl-75 trip-point pb-10">
<ion-avatar item-end *ngIf="book.driver_image!=''">
<img src="{{services.DRIVER_IMAGE_PATH}}{{book.driver_image}}">
</ion-avatar>
<ul class="events">
<li class="green-dot"><span>{{book.booking_from_address}}</span></li>
<li class="red-dot"><span class="pb-0">{{book.booking_to_address}}</span></li>
</ul>
</ion-item>
<div class="trip-canc" *ngIf="book.booking_status==3"><img src="assets/icon/cancelled.png" class="img70"></div>
</div>
</div>


</ion-content>
