<!--
Generated template for the HelpSupportPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>Help & Support</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
<div class="panel p25 text-center mb-10">
<img src="assets/icon/support-service.png" class="img50">
<h2>At your service</h2>
<p class="f13 line22">Our India based customer service team will be able to<br>assist you with any order or enquiries.</p>
<span>MONDAY - SUNDAY | 10AM - 10PM</span>
</div>
<div class="icon-list">
<ion-item>
<ion-avatar item-start>
<img src="assets/icon/131155.svg" class="list-icon">
</ion-avatar>
<a [href]="" style="text-decoration:none;color:#000">
<h2 class="f14">Email us</h2>
</a>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
</div>
<div class="icon-list">
<ion-item>
<ion-avatar item-start>
<img src="assets/icon/support.png" class="list-icon">
</ion-avatar>
<a [href]="" style="text-decoration:none;color:#000">
<h2 class="f14">Call us</h2>
</a>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
</div>
<div class="icon-list">
<ion-item  (click)="onShowFaq()">
<ion-avatar item-start>
<img src="assets/icon/discuss-issue.png" class="list-icon">
</ion-avatar>
<h2 class="f14">FAQ</h2>
<ion-icon name="ios-arrow-forward"></ion-icon>
</ion-item>
</div>
</ion-content>

