<!--
  Generated template for the AfterSplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
<div class="top-splash p25 pt-50">
<img src="assets/imgs/logo.jpg" class="img150">
<h2>Welcome to <br>Indian Shipper</h2>
</div>
<div class="bottom-splash p25" (click)="openloginmobile()">
<h3>Explore new ways to shipping<br>with Indian Shipper</h3>
<div class="bottom-mobile">
<img src="assets/imgs/flag-400.png">+91 Enter Your Mobile No.
</div>
<p class="f13 text-muthed">By clicking continue, you agree with our terms & conditions</p>
</div>
</ion-content>
