<!--
  Generated template for the WaitconfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
<div class="pluse-screen">
<div class="pulse"></div>
</div>
<div class="fd-footerbox">
<ion-item>
<ion-avatar item-start>
<img src="assets/icon/route.png">
</ion-avatar>
<h3>Finding your trip</h3>
</ion-item>
</div>
</ion-content>
