<!--
  Generated template for the RegistrationDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div class="error_message" *ngIf="login_error!=''">{{login_error}}</div>
<form [formGroup]="validations_form"> 

<div class="panel p25">
<div class="panel-form">
<div class="panel-form-box mb-15">
<ion-input type="number" placeholder="Enter Mobile Number" [(ngModel)]="user_mobile" formControlName="user_mobile_number" readonly></ion-input>
</div>
<div class="panel-form-box mb-15">
<ion-input type="text" placeholder="Enter First Name" formControlName="user_first_name"></ion-input>
</div>
<div class="panel-form-box mb-15">
<ion-input type="text" placeholder="Enter Last Name" formControlName="user_last_name"></ion-input>
</div>
<div class="panel-form-box mb-15">
<ion-input type="text" placeholder="Enter Email Id" formControlName="user_email"></ion-input>
</div>
<div class="panel-form-box mb-25">
<ion-input type="password" placeholder="Enter Password" formControlName="user_password"></ion-input>
</div>
</div>
<button ion-button full class="button-fill" (click)="processregister()">Sign up</button>
</div>
</form>

</ion-content>
