<!--
  Generated template for the SelectbookvehiclePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
<div class="map-nav">
<ion-navbar>
<ion-title></ion-title>
</ion-navbar>
</div>
<div id="maps"></div>
</ion-content>
<ion-footer>
<div class="booking-option p25" *ngIf="showspinner">
<img src="assets/imgs/viewloader.gif">
</div>
<div class="booking-option p25" *ngIf="!showspinner">
<div class="booking-option-box text-center">
<h2 class="mt-0 fw400 mb-5 f14">Economy</h2>
<p class="mt-0 fw300 f11 mb-10">Share ride, door to door</p>
<ion-row>
<ion-col col *ngFor="let cat of category_list;let i=index" (click)="setviehicletype(cat)">
<div class="bo-box text-center">
<div class="bo-box-img">
<img src="{{services.CATEGORY_IMAGE_PATH}}{{cat.category_icon}}" *ngIf="selected_vh_id==cat.category_id && cat.lengthvh.length>0">
<img src="{{services.CATEGORY_IMAGE_PATH}}{{cat.category_light_icon}}" *ngIf="selected_vh_id!=cat.category_id || cat.lengthvh.length<=0">
 <div class="bon-box">
<div class="bo-box-name " [class.active]="cat.lengthvh.length>0 && selected_vh_id==cat.category_id">{{cat.category_name}}</div>
</div>
</div>
<div class="bo-box-price mt-5">
<p class="mb-0 mt-0">₹{{cat.price}}</p>
<p class="f12 mt-5 mb-5 text-green" *ngIf="cat.lengthvh.length>0">{{cat.mintime}} mins</p>
<p class="f12 mt-5 mb-5 text-green" *ngIf="cat.lengthvh.length<=0">No Vehicle</p>
<p class="f11 text-muthed mt-0">EST (Max Load {{cat.category_max_load}}kg)</p>
</div>
</div>
</ion-col>

</ion-row>
</div>
<button ion-button full class="button-fill"  (click)="opencbooking()">CONFIRM {{selected_vh_obj.category_name}}</button>

</div>

</ion-footer>
