<!--
  Generated template for the AboutusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>About us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	  <iframe height="100%" width="100%" [src]="my_iframe_url" style="border:none;"></iframe>


</ion-content>
