<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Frequently ask question</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
 <ion-list>
  <ion-item class="p0" *ngFor="let d of faq_list; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
    <h3 class="giveMeEllipsis pl-5">
      {{d.faq_question}}
    </h3>
	      <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>

    <div *ngIf="isGroupShown(i)" class="faq-content pl-5">{{d.faq_answer}}<br>	<a ion-button  class="button-fill"  (click)="openregistration()">Call us</a></div>
	

  </ion-item>
</ion-list>
</ion-content>
