<!--
Generated template for the MywalletPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<ion-title>My Wallet</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
<div class="wallet-box-details">
<div class="wallet-box">
<h2>Indian Shipper Wallet</h2>
<ion-row>
<ion-col col-2 class="p0">
<div class="wallet-box-img">
<img src="assets/icon/mywallet.png">
</div>
</ion-col>
<ion-col col-10 class="p0">
<div class="price">₹{{user_balance}}</div>
</ion-col>
</ion-row>
</div>
<div class="wallet-hist">
<div class="wallet-hist-header">Recents</div>
<div class="wallet-hist-box" *ngFor="let hs of history_data">
<h4 *ngIf="hs.uw_amount>0">Received ₹{{hs.uw_amount}}</h4>
<h4 *ngIf="hs.uw_amount<=0">Redeem ₹{{hs.uw_amount}}</h4>
<p>{{hs.uw_remark}}</p>
<div class="hprice">
₹ {{hs.uw_amount}}
</div>
</div>
</div>
</div>

</ion-content>
